{% extends 'base.html.twig' %}

{% block title %}OllamaRequest index{% endblock %}

{% block body %}
    <h1>All your requests</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Picked up by worker at</th>
                <th>Done at</th>
                <th>Input</th>
                <th>Output</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ollama_request in ollama_requests %}
            <tr>
                <td>{{ ollama_request.id }}</td>
                <td>{{ ollama_request.status }}</td>
                <td>{{ ollama_request.createdAt|date }}</td>
                <td>{{ ollama_request.pickedUpByWorkerAt ? ollama_request.pickedUpByWorkerAt|date : '' }}</td>
                <td>{{ ollama_request.doneAt ? ollama_request.doneAt|date : '' }}</td>
                <td>{{ ollama_request.input|u.truncate(50, '...')|nl2br }}</td>
                <td>{{ ollama_request.output ? 'Output available' : 'Output unavailable' }}</td>
                <td>
                    <a href="{{ path('app_ollama_request_show', {'id': ollama_request.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
