{% extends 'base.html.twig' %}

{% block title %}OllamaRequest{% endblock %}

{% block body %}
    <h1>OllamaRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ollama_request.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ollama_request.status }}</td>
            </tr>
            <tr>
                <th>Picked up by worker at</th>
                <td>{{ ollama_request.pickedUpByWorkerAt ? ollama_request.pickedUpByWorkerAt|date : '' }}</td>            </tr>
            </tr>
            <tr>
                <th>Done at</th>
                <td>{{ ollama_request.doneAt|date ? ollama_request.doneAt|date : '' }}</td>
            <tr>
                <th>Prefix</th>
                <th>{{ ollama_request.promptPrefix }}</th>
            </tr>
            <tr>
                <th>Input</th>
                <td>{{ ollama_request.input|nl2br }}</td>
            </tr>
            <tr>
                <th>Output</th>
                <td>{{ ollama_request.output|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ollama_request_index') }}">Back to list</a>

    {{ include('ollama_request/_delete_form.html.twig') }}
{% endblock %}
